aiofiles==0.8.0
autopep8==1.6.0
blinker==1.4
boto3==1.20.14
botocore==1.23.14
click==8.0.3
Deprecated==1.2.13
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.12.0
hyperframe==6.0.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
priority==2.0.0
pycodestyle==2.8.0
python-dateutil==2.8.2
PyYAML==6.0
quart==0.16.1
Quart-CORS==0.5.0
redis==4.0.2
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
urllib3==1.26.7
Werkzeug==3.1.6
wrapt==1.13.3
wsproto==1.0.0
